%h1 Add stuff

= form_for @stuff do |f|
  - if @stuff.errors.any?
    #error_explanation
      %h2= "#{pluralize(@stuff.errors.count, "error")} prohibited this stuff from being saved:"
      %ul
        - @stuff.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.text_area :description, rows: 5
  .actions
    = f.submit 'Add', :class => 'btn btn-success'


