= form_for @stuff do |f|
  - if @stuff.errors.any?
    #error_explanation
      %h2= "#{pluralize(@stuff.errors.count, "error")} prohibited this stuff from being saved:"
      %ul
        - @stuff.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.text_area :description, rows: 5
  .actions
    = f.submit 'Save', :class => 'btn btn-success'
    = f.submit 'To Project', :class => 'btn btn-primary'
    = f.submit 'Next Action', :class => 'btn btn-info'

